* {
  margin: 0;
  padding: 0;
}

/* general html tag */
body {
  background-color: #fff;
  width: 1920px;
  font-family: Arial, sans-serif;
}


/* header section styles */
.banner-container {
  background-color: rgb(237, 253, 220);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 240px 0px 240px;
}

.banner-content {
  width: 710px;
}

.banner-heading {
  font-size: 80px;
  color: #76a303;
  margin-bottom: 30px;
}

.primary-paragraph {
  font-size: 16px;
  line-height: 30px;
  color: rgba(39, 39, 39, 0.6);
  margin-top: 0px;
  margin-bottom: 30px;
  width: 545px;
}

.btn-shop {
  color: #fff;
  background-color: #e55473;
  border-style: none;
  border-radius: 8px;
  font-size: 16px;
  padding: 20px 40px;
  margin-top: 0px;
}

.banner-image {
  width: 635px;
  height: 800px;
}


/* featured section styles */
.featured-section {
  text-align: center;
  margin-top: 150px;
}

.featured-section-header {
  font-size: 40px;
  color: #76a303;
  margin-bottom: 25px;
}

.featured-section-paragraph {
  font-size: 16px;
  color: rgba(39, 39, 39, 0.6);
  width: 500px;
  justify-content: center;
  line-height: 25px;
  margin: 0px auto;
}

.featured-gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px auto 0px;
  width: 1440px;
}

.featured-photo {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
}

.photo-1 {
  background-color: rgba(167, 33, 98, 0.15);
  background-image: url("./images/pngwing 6.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

.photo-2 {
  background-color: rgba(71, 125, 17, 0.15);
  background-image: url("./images/pngwing 5.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 70%;
}

.photo-3 {
  background-color: rgba(167, 33, 98, 0.15);
  background-image: url("./images/pngwing 7.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

.featured-photo-link {
  margin-top: 35px;
}

.featured-photo-link a {
  color: #76a303;
}


/* delivery-support-section styles */
.delivery-support-container {
  width: 1440px;
  background-color: rgba(71, 125, 17, 0.15);
  margin: 130px auto;
}

.delivery-support-section > ul {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding: 85px 175px;
}

.delivery-support-section > ul li {
  list-style: none;
  text-align: center;
}

.delivery-support-section > ul li img {
  width: 85px;
  height: 85px;
  margin-bottom: 20px;
}

.delivery-support-section > ul li p {
  font-size: 18px;
  color: rgba(39, 39, 39, 0.6);
  width: 300px;
}


/* choose gift section style */
.choose-gift-container > h2 {
  color: #76a303;
  font-size: 40px;
  text-align: center;
}

.choose-gift {
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  width: 1440px;
  height: 450px;
  margin: 50px auto 150px;
  background-image: url("./images/gift.jpeg");
  background-repeat: no-repeat;
  border-radius: 10px;
}

.choose-box-details {
  text-align: center;
}

.choose-gift-img {
  background-color: #fff;
  border: 2px dashed #76a303;
  padding: 20px;
  align-items: center;
}

.choose-gift-img img {
  width: 90px;
  height: 90px;
}

hr {
  border: none;
  border-top: 7px dotted white;
  width: 54px;
  margin: 40px auto;
}

.btn-gift {
  color: #fff;
  background-color: #e55473;
  border-style: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px 10px;
  width: 150px;
}


/* sale section style */
.text-primary {
  color: #e55473;
}

.sale-container {
  background-color: rgb(237, 253, 220);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 430px 100px 390px;
}

.sale-header {
  margin-bottom: 10px;
  font-size: 40px;
  color: #76a303;
}

.sale-content {
  text-align: center;
}


/* instagram section style */
.instagram-container {
  margin: 120px auto;
  text-align: center;
  width: 1440px;
}

.instagram-header {
  font-size: 40px;
  color: #76a303;
  margin-bottom: 25px;
}

.instagram-paragraph {
  margin: 0 auto;
  font-size: 16px;
  line-height: 30px;
  color: rgba(39, 39, 39, 0.6);
  width: 545px;
}

.instagram-images {
  display: flex;
  justify-content: space-around;
  margin-top: 45px;
}


/* form style section */
.form-container {
  margin: 130px auto;
  text-align: center;
  width: 1440px;
  height: 450px;
  background-image: url("./images/Rectangle 9.png");
  background-repeat: no-repeat;
}

.form-section {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin: 50px 285px 120px;
}

.form-header {
  font-size: 40px;
  color: #76a303;
  margin-bottom: 15px;
  padding-top: 120px;
}

.form-section input[type="email"] {
  width: 70%;
  font-size: 14px;
  border: 0;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 7px;
  padding: 18px 30px;
  color: rgba(39, 39, 39, 0.6);
}


/* footer section style */
.footer-container {
  text-align: center;
  background-color: black;
  width: 1920px;
  height: 450px;
  color: #fff;
}
.logo {
  padding: 130px 650px 20px;
  color: #76a303;
  font-size: 60px;
}
.footer-paragraph {
  margin: 0 auto;
  font-size: 16px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.9);
  width: 545px;
}

.copyright {
  color: rgba(255, 255, 255, 0.4);
  margin-top: 32px;
}
