* {
  margin: 0;
  padding: 0;
}

/* general html tag */
body {
  background-color: #fff;
  width: 1920px;
  font-family: Arial, sans-serif;
}

/* header section styles */
.banner-container {
  background-color: rgb(237, 253, 220);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 240px 0px 240px;
}

.banner-content {
  width: 710px;
}

.banner-heading {
  font-size: 80px;
  color: #76a303;
  margin-bottom: 30px;
}

.primary-paragraph {
  font-size: 16px;
  line-height: 30px;
  color: rgba(39, 39, 39, 0.6);
  margin-top: 0px;
  margin-bottom: 30px;
  width: 545px;
}

.btn-shop {
  color: #fff;
  background-color: #e55473;
  border-style: none;
  border-radius: 8px;
  font-size: 16px;
  padding: 20px 40px;
  margin-top: 0px;
}

.banner-image {
  width: 635px;
  height: 800px;
}

/* featured section styles */

.featured-section {
  text-align: center;
  margin-top: 175px;
}

.featured-section-header {
  font-size: 40px;
  color: #76a303;
  margin-bottom: 25px;
}

.featured-section-paragraph {
  font-size: 16px;
  color: rgba(39, 39, 39, 0.6);
  width: 500px;
  justify-content: center;
  line-height: 25px;
  margin: 0px auto;
}

.featured-gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px auto 0px;
    width: 1440px;
}

.featured-photo {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
}

.photo-1 {
  background-color: rgba(167, 33, 98, 0.15);
  background-image: url("./images/pngwing 6.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

.photo-2 {
  background-color: rgba(5, 151, 160, 0.15);
  background-image: url("./images/pngwing 5.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 70%;
}

.photo-3 {
  background-color: rgba(71, 125, 17, 0.15);
  background-image: url("./images/pngwing 7.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

.featured-photo-link {
  margin-top: 25px;
}

.featured-photo-link a {
  color: #76a303;
}

/* delivery-support-section styles */
.delivery-support-container {
  width: 1440px;
  background-color: rgba(184, 243, 208, 0.249);
  margin: 130px auto;
}

.delivery-support-section > ul {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding: 85px 175px;
}

.delivery-support-section > ul li {
  list-style: none;
}

.delivery-support-section > ul li img {
  width: 85px;
  height: 85px;
  margin-bottom: 20px;
}

.delivery-support-section > ul li p {
  font-size: 14px;
  color: rgba(39, 39, 39, 0.6);
  width: 220px;
}

/* sale section style */

.text-primary {
  color: #e55473;
}

.sale-container {
  background-color: rgb(237, 253, 220);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 430px 100px 390px;
}

.sale-content {
  text-align: center;
}

.sale-header {
  margin-bottom: 10px;
  font-size: 40px;
}
